<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<Package Name="Pulumi" Manufacturer="Pulumi Corp" Version="$(var.ProductVersion)" UpgradeCode="111633d5-1aa2-4136-bb1c-190289e9cf15">
		<MajorUpgrade DowngradeErrorMessage="Can't downgrade." />

		<MediaTemplate EmbedCab="yes" />

		<util:QueryNativeMachine />

		<Launch
			Condition='"$(sys.BUILDARCH)" ~= "x64" IMP WIX_NATIVE_MACHINE = 34404'
			Message="This package can run only on $(sys.BUILDARCH) machines." />

		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)">
				<Component Id="SetEnvironment" KeyPath="yes" Guid="{BDC4FC74-1E73-4AEA-96E7-55C6389589D5}">
					<CreateFolder />
					<Environment Id="PATH" Name="PATH" Value="[INSTALLFOLDER]" Permanent="yes" Part="last" Action="set" System="yes" />
				</Component>
			</Directory>
		</StandardDirectory>

		<Feature Id="MainInstaller" Title="Installer">
			<ComponentGroupRef Id="PulumiBinaries" />
		</Feature>

		<Feature Id="UpdatePath" Title="Update Path">
			<ComponentRef Id="SetEnvironment" />
		</Feature>
	</Package>
</Wix>
